@import "tailwindcss";

@font-face {
  font-family: 'MS Sans Serif';
  src: url('~/assets/css/fonts/ms-sans-serif-1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Retro';
  src: url('~/assets/css/fonts/retro.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PX Sans Nouveaux';
  src: url('~/assets/css/fonts/px_sans_nouveaux.woff2') format('woff2');
  /* src: url('https://fonts.gstatic.com/s/pxsansnouveaux/v1/pxsn-4x7b2
3
4-2x7b23-2x7b23-2x7b23-2x7b23.woff2') format('woff2'); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar{
  width: 0px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background: #00008000;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #c0c0c000;
}

.sparkle-container{
   top: 0;
  left: 0;
  position: absolute;
}

.sparkle {
  position: absolute;
  width: 32px;
  height: 32px;
  /* top: 0; */
  /* left: 0; */
  opacity: 0;
  animation: toss 2s ease-in-out infinite;
}

.sparkle-top-left {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.sparkle-top-right {
  top: 0;
  right: 0;
  animation-delay: 0.3s;
}

.sparkle-bottom-left {
  bottom: 0;
  left: 0;
  animation-delay: 0.6s;
}

.sparkle-bottom-right {
  bottom: 0;
  right: 0;
  animation-delay: 0.9s;
}

@keyframes toss {
  0% {
    transform: translate(0, 0) scale(0.8) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(-20px, -40px) scale(1.2) rotate(30deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50px, -80px) scale(0.8) rotate(60deg);
    opacity: 0;
  }
}





.taskbar-3d {
  background: linear-gradient(to top, #cf398c, #ff95df); /* XP blue gradient */
  border-top: 2px solid #ffffff63;
  border-left: 2px solid #ffffff3e;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;

  box-shadow:
    inset 0 .5px 0 rgba(255, 255, 255, 0.3),
    inset 0 -.5px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Tahoma', 'Microsoft Sans Serif', sans-serif;
}

/* .taskbar-3dcose {
  background: linear-gradient(to top, #6a0a0a, #a53a3a);
  border-top: 2px solid #ffffffd6;
  border-left: 2px solid #ffffff3e;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;

  box-shadow:
    inset 0 .5px 0 rgba(255, 255, 255, 0.3),
    inset 0 -.5px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Tahoma', 'Microsoft Sans Serif', sans-serif;
} */

.start-button {
  background: linear-gradient(to top, #0a7a22, #34d058); /* green XP style gradient */
  border-top: 2px solid #00000060;
  border-left: 2px solid #00000060;
  border-right: 2px solid #166c14;
  border-bottom: 2px solid #166c14;

  box-shadow:
    inset 0 .5px 0 rgba(255, 255, 255, 0.4),
    inset 0 -.5px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Tahoma', 'Microsoft Sans Serif', sans-serif;
  color: white;
}

.start-button:hover {
  background: linear-gradient(to top, #0d9e2a, #49e675);
}

body {
  font-family: 'MS Sans Serif', sans-serif;
  /* font-family: 'Retro'; */
  /* font-family: Tahoma; */
  /* font-family: 'PX Sans Nouveaux'; */
    margin: 0;
    font-size: small;
    cursor: url('/curs.cur') 16 16, auto;
    /* font-family: Arial, sans-serif; */
    background-color: #000000;
  }
  
  /* body {
    -webkit-text-stroke: 0.2px black; 
    color: white; 
  } */
/* 
  body {
    color: white; 
    text-shadow:
      -.5px -.5px 0 black,
       .5px -.5px 0 black,
      -.5px  .5px 0 black,
       .5px  .5px 0 black;
  } */
  
  
  a{
    cursor: url('/link.cur') 16 16, auto;
  }

  button{
    cursor: url('/link.cur') 16 16, auto;
  }

  h1 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1rem;
  }

  /* .window {
    border: 2px solid #000080;
    background-color: #C0C0C0;
    position: absolute;
    background-image: url('/path/to/top-left-corner.gif'), url('/path/to/top-right-corner.gif'),
                      url('/path/to/bottom-left-corner.gif'), url('/path/to/bottom-right-corner.gif');
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
  } */

  
  /* Noise Layer */
  body::before {
    content: '';
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform: translate(-50%, -50%);
  pointer-events: none;
    background-image: url("https://st4.depositphotos.com/1026531/30839/i/450/depositphotos_308395272-stock-photo-tv-screen-no-signal-static.jpg");
    background-repeat: repeat;
    background-size: 700px 700px;
    opacity: 0.07;
    animation: subtleStatic 2s steps(8) infinite;
    z-index: 9999;
    mix-blend-mode: multiply;
    /* cursor: url('/cursor.png') 16 16, auto; */
  }
  
  @keyframes subtleStatic {
    0% { transform: translate(2%, 2%); }
    10% { transform: translate(-2%, -2%); }
    20% { transform: translate(2%, 2%); }
    30% { transform: translate(-2%, -2%); }
    40% { transform: translate(2%, 2%); }
    50% { transform: translate(-2%, -2%); }
    60% { transform: translate(2%, 2%); }
    70% { transform: translate(-2%, -2%); }
    80% { transform: translate(2%, 2%); }
    100% { transform: translate(-2%, -2%); }
  }


  